body{
    margin: auto;
}
label{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 3%;
}
.header{
    text-align: center;
    color: white;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin-top: 0%;
}
.weatherInfo{
    font-weight: initial;
}
.city{
    width: 90%;
    margin: 2%;
}
.search{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}
#cityBtn{
    background-color: white;
    border: solid white;
    border-radius: 10%;
    margin-left: 10%;
}
#addBtn{
    margin: 5%;
    padding: 5%;
}
#city-input{
    margin: 0% 0% 5% 3%;
}
#id0, #id1, #id2, #id3, #id4{
    background-color: royalblue;
    font-size: 25px;
    font-weight: 400;
    margin-right: 5%;
    width: 15%;
}
img{
    width: 50%;
}
@media screen and (max-width: 500px) {
    #city-input{
        width: 70%;
        margin: 1% 0% 5% 15%;
    }
    #pic{
        width: 15%;
    }
    .weatherInfo, .weatherStrip, .fiveDay {
        margin: 0% 0% 5% 5%;
    }
    #id0, #id1, #id2, #id3, #id4{
        width: 45%;
    }
}