body{
    margin: auto;
}
label{
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 3%;
}
.header{
    text-align: center;
    color: yellow;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin-top: 0%;
}
.weatherInfo{
    font-weight: bolder;
}
.city{
    width: 90%;
    margin: 2%;
}
.search{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}
#cityBtn{
    background-color: white;
    border: solid white;
    border-radius: 10%;
    margin-left: 10%;
}
#addBtn{
    margin: 5%;
    padding: 5%;
}
#city-input{
    margin: 0% 0% 5% 3%;
}
#id0, #id1, #id2, #id3, #id4{
    background-color: #000066;
    font-size: 25px;
    font-weight: 400;
    margin-right: 5%;
    width: 15%;
}
img{
    width: 50%;
}